# .env  — copie para .env e preencha antes de subir
# NÃO commite este arquivo com valores reais!

# ── PostgreSQL ─────────────────────────────────────────────────────────────
POSTGRES_DB=quemvota
POSTGRES_USER=rickmartin
POSTGRES_PASSWORD=nevergonnna_give_you_up
POSTGRES_SUPERSER=rickmartin
POSTGRES_SUPERPASSWORD=nevergonnna_give_you_up
# ── App ───────────────────────────────────────────────────────────────────
SECRET_KEY=GERE_COM_openssl_rand_hex_32
ENV=production

# ── Domínio ───────────────────────────────────────────────────────────────
DOMAIN=seudomiminio.com

# API config
DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
VALKEY_URL=redis://valkey:6379
ALLOWED_ORIGINS='["https://quemvota.com.br"]'

# AIRFLOW
AIRFLOW_UID=1000
CLOUD_TUNNEL=eyJhIjoiOWJkOWRmNmFjZWQ5ZmI0NTEyYjJmNzJ
